@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--font: "Mulish", serif;
	--color-primary: #626366;
	--color-second: #00aae2;
}

#header {
	width: 100%;
	background-color: transparent;
	transition: background ease-out 0.2s;
}

#header .navbar-collapse {
	color: var(--color-primary);
	width: auto;
	margin-left: 5rem;
}

#header .navbar-light .navbar-nav .nav-link {
	font-size: 14px;
	font-family: var(--font);
}

#header .nav-link:hover {
	color: var(--color-primary);
}

.nav-link-atendimento{
	text-decoration-line: none;
	text-decoration: none;
	color: var(--color-primary);
	margin-right: 1rem;
}
.nav-link-atendimento:before {
	content: "";
	margin-left: 25px;
	padding-left: 25px;
	border-left: 1px solid #333;
}

.img-fluid {
	max-width: 100%;
}

.img-wrapper {
	width: 100%;
	height: 100%;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search .mini-menu {
	margin-left: 1rem;
}

/***********************************/

#servicos .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: 0rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.card-body {
	text-align: center;
}

.card {
	height: 210px;
	margin-left: 32px;
	width: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-title {
	font-size: 15px;
	color: var(--color-primary);
	text-decoration: none;
	margin-right: 1rem;
}

.card-text {
	font-size: 12px;
	font-family: var(--font);
	color: var(--color-primary);
}

.card img {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
	width: 80px;
}

.aument-transi:hover {
	transform: scale(1.01);
	transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-shadow: 0px 5px 7px rgb(218, 215, 215);
}

/************************************/

#video .title-video {
	color: var(--color-primary);
	font-family: var(--font);
	font-weight: bold;
	display: flex;
	font-size: 30px;
	justify-content: center;
}

.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}

.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
	display: flex;
}

.img-fluid-car {
	margin-bottom: 5rem;
	margin-top: 2rem;
	max-width: 14rem;
	height: 12rem;
}

.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;
	margin: auto 0;
	border-radius: 50%;
}

.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}

.carousel-control-prev i {
	margin-left: -3px;
}

.carousel-control-next i {
	margin-right: -3px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}

.carousel-indicators li {
	border: .5px solid rgba(0, 0, 0, 0.8);
}

.carousel-indicators li.active {
	background: var(--color-second);
}

/***************************************/

#cadastro {
	margin-top: 0em;
}

#cadastro h4 {
	color: #626366;
	font-size: 30px;
	margin-left: 12rem;
	margin-bottom: 4rem;
	margin-top: 3rem;
	margin-left: 18rem;
}

#cadastro .form-control {
	display: block;
	width: 25rem;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: -15rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0%;
}

.btn-cadastro {
	background-color: #fff;
	color: #00aae2;
	height: 3rem;
	width: 18rem;
	border-radius: 3px;
	line-height: 35px;
	text-transform: uppercase;
	font-size: 13px;
	padding: 0 30px;
	border: 2px solid #00aae2;
	font-family: 'Muli', sans-serif;
	margin-left: 14rem;
	margin-top: 2rem;
	margin-bottom: 0rem;
}

/*************************/

.footer {
	font-family: var(--font);
}

.footer a, p {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-bottom: 2rem;
}

.footer h4 {
	margin-bottom: 3rem;
	color: #ffffff;
	font-size: 14px;
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-left: 0rem;
	text-transform: uppercase;
}

.footer-social {
	background-color: #222222;
}

.footer-prod {
	background-color: #383838;
}

.footer-pol {
	background-color: #565656;
}

.footer-atend {
	background-color: #686868;
}

.img-fluid-footer {
	margin-left: 3rem;
	max-width: 100%;
	margin-top: 3rem;
	vertical-align: middle;
	border-style: none;
}

.social-media {
	letter-spacing: 3px;
	margin-top: 2rem;
	margin-left: 5rem;
}

/****************************************/

@media (min-width: 924px) {
	#header .container {
		height: 5rem;
		display: flex;
		margin-left: 14rem;
	}
}

@media(max-width: 768px) {
	.img-wrapper img {
		display: none;
	}
	.footer-social img {
		margin-top: 1rem;
	}
}

@media(max-width: 425px) {
	.mini-menu, .search {
		display: none;
	}
	.navbar-nav {
		margin-top: 3rem;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.nav-link-atendimento:before {
		display: none;
	}
	#servicos .row {
		display: flex;
		margin-left: 1rem;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.card h5 {
		font-family: var(--font);
		color: var(--color-primary);
		text-transform: uppercase;
		display: block;
		font-size: 15px;
		font-weight: bolder;
	}
	.card p {
		font-family: var(--font);
		color: var(--color-primary);
		font-size: 12px;
	}
	.col-sm-4 {
		max-width: 100%;
	}
	.container {
		margin-left: 0rem;
	}
	/*****************************************************/
	.carousel {
		margin: 1rem auto 8rem;
		padding: 0 80px;
	}
	.carousel-item .col-sm-4 {
		max-width: 100%;
	}
	.carousel .carousel-item img {
		max-width: 100%;
		display: inline-block;
	}
	.carousel-control-next, .carousel-control-prev {
		display: none;
	}
	.carousel-item :active, .item2, .item3 {
		display: none;
	}
	.carousel .carousel-item {
		margin-top: 2rem;
		text-align: center;
		overflow: hidden;
		display: flex;
		margin-bottom: 4rem;
	}
	.title-cad {
		color: #626366;
		font-size: 30px;
		margin-left: 0rem;
		margin-bottom: 4rem;
		margin-top: 3rem;
	}
	#cadastro .form-control {
		display: block;
		width: 15rem;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: -15rem;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0%;
	}
	#cadastro h4 {
		color: #626366;
		font-size: 30px;
		margin-left: 5rem;
		margin-bottom: 4rem;
		margin-top: 3rem;
	}
	.btn-cadastro {
		/* display: inline-flex; */
		color: var(--color-second);
		height: 3rem;
		width: 18rem;
		border-radius: 3px;
		line-height: 35px;
		text-transform: uppercase;
		font-size: 13px;
		padding: 0 30px;
		border: 2px solid #00aae2;
		font-family: 'Muli', sans-serif;
		margin-left: 1rem;
	}
	.footer-social img {
		margin-top: 1rem;
		margin-left: 5rem;
	}
	.form-row {
		width: 16rem;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: -5px;
		margin-left: -5px;
	}
	.title-cad {
		color: #626366;
		font-size: 30px;
		margin-left: -3rem;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}
}

/*****************************************************/